@charset "utf-8";


#header_full
{
	width:100%;
	height:200px;
}

.header_top_right
{
	float:right;
	height:200px;
	background-color:#183b5c;
	width:55%;
	
}

.header_top_left
{
	float:left;
	height:200px;
	background-color:#fff;
	width:45%;

	
}


.container{
	height:100%;
	width:100%;
}

.side_nav
{	
	height:auto;
	width:150px;
	background-color:#999;
	border-top:#FFF medium solid;
	float:left;
}

.nav_ico
{
	width:100%;
	height:150px;
	border-bottom:#fff thin solid;
}

.slider_container
{	position:relative;
	margin-left:150px;
	width:89.9%;
	height:400px;
	border-left:thin #fff solid;
	border-top:#FFF medium solid;
	background-color:#CCC;
}
	
.content_box
{
	position:relative;
	margin-left:151px;
	width:87%;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
	color:#333;
	font-family:Titillium Web;
	border-left:medium #000 solid;
	border-top:medium #fff solid;
}
	
.content_box1
{
	float:left;
	position:relative;
	margin-left:151px;
	width:41%;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
	color:#333;
	font-family:Titillium Web;
	border-left:medium #000 solid;
	border-top:medium #fff solid;
}
		
.footer_img
{	
position:relative;
width:100%;
height:100px;
background-color:#CCC;
border-top:#000 thin solid;
margin-top:2px;
}

.footer_text
{
	position:relative;
	width:100%;
	height:150px;
	background-color:#575757;
	border-top:medium #fff solid;
}



#bottomline{
	float:left;
	width:100%;
	border-top:1px solid #fff;
	text-align:center;
	color:#FFF;
	font-size:12px;
	padding-bottom:2px;
	background-color:#575757;
}

